<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Sounds.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <userSettings>
        <Sounds.Properties.Settings>
            <setting name="ShowStatusBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowToolBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowInfoPane" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeleteOnNext" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Repeat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimeShortcutSeconds" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="AddFolderRecursive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VolumeShortcutIncrement" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="NativeToolStripRendering" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FileDragAppendPlaylist" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowConfirmationDialogs" serializeAs="String">
                <value>True</value>
            </setting>
        </Sounds.Properties.Settings>
    </userSettings>
</configuration>
